<p id="notice"><%= notice %></p>

<p>
  <strong>Number Range:</strong>
  <%= @alarm.number_range %>
</p>

<p>
  <strong>Thermostat id:</strong>
  <%= @alarm.thermostat_id %>
</p>



<%= link_to 'Edit', edit_alarm_path(@alarm) %> |
<%= link_to 'Back', home_path %>
