<h1>Show Problems</h1>

 <table class="table table-striped"><thead>
      <tr class="info">
        <th>Thermostat_id</th>
        <th>Description</th>
        <th>Status</th>
        <th>Resolution</th>
        
        <th></th>
      </tr>
    </thead>
    
    <tbody>
      <% @issues.each do |issue| %>
        <tr>
          <% if issue.thermostat_id == @id_therm %>
             <td><%= issue.thermostat_id %></td>
             <td><%= issue.description %></td>
             <td id="status<%=issue.id%>"><%= issue.status%></td>
             <td><%= issue.resolution %></td>
             <td class="button_cancelar" id="<%= issue.id %>"><button>Cancel Problem</button></td>
             
       <%end%>
        </tr>
      <% end %>
    </tbody>
  </table>