<h1>History Thermostats</h1>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">History Thermostats</h3>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr class="info">
          <th>Thermostat Serial</th>
          <th>Temperature</th>
          <th>Humidity</th>
          <th>Energy</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @history_thermostats.each do |history_thermostat| %>
          <tr>
            <% if current_user.id == history_thermostat.thermostat.user_id %>
            <td><%= history_thermostat.thermostat.serial %></td>
            <td><%= history_thermostat.temperature %> °C</td>
            <td><%= history_thermostat.humidity %> %</td>
            <td><%= history_thermostat.energy %> W</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><!--#table-responsive-->

  <br>

  <a href="<%= thermostats_path %>" class="btn btn-default">Back</a>
</div>