<h1>Listing schedules</h1>

 <table class="table table-striped"><thead>
          <tr class="info">
          <td><b>Schedule </b> </td>
          <td><b>Monday</b></td>
          <td><b>Tuesday</b></td>
          <td><b>Wednesday</b></td>
          <td><b>Thursday</b></td>
          <td><b> Friday </b></td>
          <td><b>Saturday</b></td>
          <td><b>Sunday</b></td>


          </tr>
          <tr class="info"><td><b>12:00 am - 6:00 am</b>
           <th><% @schedules.each do |schedule| %> 
              <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Monday") &&(schedule.day_time == "12:00 am - 6:00 am")%>
                  <a href="/schedules/<%= schedule.id %>"> show </a>
                  
              <% end%>
               <% end %>
            </th></td>


            <th><% @schedules.each do |schedule| %> 
              <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Tuesday") &&(schedule.day_time == "12:00 am - 6:00 am")%>
                  <a href="/schedules/<%= schedule.id %>"> show </a>
              <% end%>
               <% end %>
            </th></td>


            <th><% @schedules.each do |schedule| %> 
              <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Wednesday") &&(schedule.day_time == "12:00 am - 6:00 am")%>
                  <a href="/schedules/<%= schedule.id %>"> show </a>
              <% end%>
               <% end %>
            </th></td>


            <th><% @schedules.each do |schedule| %> 
              <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Thursday") &&(schedule.day_time == "12:00 am - 6:00 am")%>
                  <a href="/schedules/<%= schedule.id %>"> show </a>
              <% end%>
               <% end %>
            </th></td>


            <th><% @schedules.each do |schedule| %> 
              <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Friday") &&(schedule.day_time == "12:00 am - 6:00 am")%>
                  <a href="/schedules/<%= schedule.id %>"> show </a>
              <% end%>
               <% end %>
            </th></td>

            <th><% @schedules.each do |schedule| %> 
              <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Saturday") &&(schedule.day_time == "12:00 am - 6:00 am")%>
                  <a href="/schedules/<%= schedule.id %>"> show </a>
              <% end%>
               <% end %>
            </th></td>

            <th><% @schedules.each do |schedule| %> 
              <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Sunday") &&(schedule.day_time == "12:00 am - 6:00 am")%>
                  <a href="/schedules/<%= schedule.id %>"> show </a>
              <% end%>
               <% end %>
            </th></td>



          </tr>
          <tr class="info"><td><b>6:00 am - 12:00 pm</b>
            <th><% @schedules.each do |schedule| %> 
              <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Monday") &&(schedule.day_time == "6:00 am - 12:00 pm")%>
                 <a href="/schedules/<%= schedule.id %>"> show </a>
                <% end%>
                <% end %>
          </th> </td>

          <th><% @schedules.each do |schedule| %> 
              <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Tuesday") &&(schedule.day_time == "6:00 am - 12:00 pm")%>
                  <a href="/schedules/<%= schedule.id %>"> show </a>
                <% end%>
                <% end %>
          </th> </td>

          <th><% @schedules.each do |schedule| %> 
              <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Wednesday") &&(schedule.day_time == "6:00 am - 12:00 pm")%>
                  <a href="/schedules/<%= schedule.id %>"> show </a>
                <% end%>
                <% end %>
          </th> </td>

          <th><% @schedules.each do |schedule| %> 
              <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Thursday") &&(schedule.day_time == "6:00 am - 12:00 pm")%>
                  <a href="/schedules/<%= schedule.id %>"> show </a>
                <% end%>
                <% end %>
          </th> </td>


          <th><% @schedules.each do |schedule| %> 
              <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Friday") &&(schedule.day_time == "6:00 am - 12:00 pm")%>
                  <a href="/schedules/<%= schedule.id %>"> show </a>
                <% end%>
                <% end %>
          </th> </td>

          <th><% @schedules.each do |schedule| %> 
              <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Saturday") &&(schedule.day_time == "6:00 am - 12:00 pm")%>
                 <a href="/schedules/<%= schedule.id %>"> show </a>
                <% end%>
                <% end %>
          </th> </td>

          <th><% @schedules.each do |schedule| %> 
              <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Sunday") &&(schedule.day_time == "6:00 am - 12:00 pm")%>
                  <a href="/schedules/<%= schedule.id %>"> show </a>
                <% end%>
                <% end %>
          </th> </td>  






        </tr>
          <tr class="info"><td><b>12:00 pm - 6:00 pm</b> 
            <th><% @schedules.each do |schedule| %> 
            <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Monday") &&(schedule.day_time == "12:00 pm - 6:00 pm")%>
               <a href="/schedules/<%= schedule.id %>"> show </a>
            <% end%>
            <% end %>
          </th></td>

            <th><% @schedules.each do |schedule| %> 
            <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Tuesday") &&(schedule.day_time == "12:00 pm - 6:00 pm")%>
               <a href="/schedules/<%= schedule.id %>"> show </a>
            <% end%>
            <% end %>
          </th></td>


            <th><% @schedules.each do |schedule| %> 
            <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Wednesday") &&(schedule.day_time == "12:00 pm - 6:00 pm")%>
               <a href="/schedules/<%= schedule.id %>"> show </a>
            <% end%>
            <% end %>
          </th></td>

            <th><% @schedules.each do |schedule| %> 
            <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Thursday") &&(schedule.day_time == "12:00 pm - 6:00 pm")%>
               <a href="/schedules/<%= schedule.id %>"> show </a>
            <% end%>
            <% end %>
          </th></td>

            <th><% @schedules.each do |schedule| %> 
            <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Friday") &&(schedule.day_time == "12:00 pm - 6:00 pm")%>
               <a href="/schedules/<%= schedule.id %>"> show </a>
                           <% end%>
            <% end %>
          </th></td>

            <th><% @schedules.each do |schedule| %> 
            <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Saturday") &&(schedule.day_time == "12:00 pm - 6:00 pm")%>
               <a href="/schedules/<%= schedule.id %>"> show </a>
            <% end%>
            <% end %>
          </th></td>


            <th><% @schedules.each do |schedule| %> 
            <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Sunday") &&(schedule.day_time == "12:00 pm - 6:00 pm")%>
               <a href="/schedules/<%= schedule.id %>"> show </a>
            <% end%>
            <% end %>
          </th></td>





        </tr>
          <tr class="info"><td><b>6:00 pm a 12:00 am</b>
            <th><% @schedules.each do |schedule| %> 
                <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Monday") &&(schedule.day_time == "6:00 pm a 12:00 am")%>
                  <a href="/schedules/<%= schedule.id %>"> show </a>
                <% end%>
                <% end %>
            </th> </td>


           <th><% @schedules.each do |schedule| %> 
                <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Tuesday") &&(schedule.day_time == "6:00 pm a 12:00 am")%>
                  <a href="/schedules/<%= schedule.id %>"> show </a>
                <% end%>
                <% end %>
            </th> </td>
            


            <th><% @schedules.each do |schedule| %> 
                <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Wednesday") &&(schedule.day_time == "6:00 pm a 12:00 am")%>
                  <a href="/schedules/<%= schedule.id %>"> show </a>
                <% end%>
                <% end %>
            </th> </td>


            <th><% @schedules.each do |schedule| %> 
                <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Thursday") &&(schedule.day_time == "6:00 pm a 12:00 am")%>
                  <a href="/schedules/<%= schedule.id %>"> show </a>
                <% end%>
                <% end %>
            </th> </td>


            <th><% @schedules.each do |schedule| %> 
                <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Friday") &&(schedule.day_time == "6:00 pm a 12:00 am")%>
                  <a href="/schedules/<%= schedule.id %>"> show </a>
                <% end%>
                <% end %>
            </th> </td>


            <th><% @schedules.each do |schedule| %> 
                <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Saturday") &&(schedule.day_time == "6:00 pm a 12:00 am")%>
                 <a href="/schedules/<%= schedule.id %>"> show </a>
                <% end%>
                <% end %>
            </th> </td>

            <th><% @schedules.each do |schedule| %> 
                <% if (schedule.thermostat_id == @thermostat.id)&&(schedule.day_week == "Sunday") &&(schedule.day_time == "6:00 pm a 12:00 am")%>
                  <a href="/schedules/<%= schedule.id %>"> show </a>
                <% end%>
                <% end %>
            </th> </td>






          </tr>

        </thead>




</table>

 
<%= link_to 'New Schedule', new_schedule_path, :class =>"btn btn-success" %>
<%= link_to 'Set Alarm', new_alarm_path, :class =>"btn btn-primary" %>

