<p id="notice"><%= notice %></p>

<p>
  <strong>Day week:</strong>
  <%= @schedule.day_week %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @schedule.temperature %>
</p>

<p>
  <strong>Day time:</strong>
  <%= @schedule.day_time %>
</p>

<p>
  <strong>Thermostat:</strong>
  <%= @schedule.thermostat_id %>
</p>

<a href="<%= edit_schedule_path(@schedule)%>" class="btn btn-info">Edit</a>|
<a href='/schedules/index/<%= @schedule.thermostat_id %> 'class="btn btn-default" >Back</a> |
<a href='/schedules/destroy/<%= @schedule.id %> ' class="btn btn-danger" >Delete</a>

