<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>
  <div class="panel-body">
    <div class="container">

      <%= form_for(@thermostat) do |f| %>
        <% if @thermostat.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@thermostat.errors.count, "error") %> prohibited this thermostat from being saved:</h2>

            <ul>
            <% @thermostat.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="text-info">
          <%= f.label :serial %><br>
          <%= f.text_field :serial, :class => "textboxgrade", :required => "required" %>
        </div>
        <div class="text-info">
          <%= f.label :temperature %><br>
          <%= f.number_field :temperature, :class => "textboxgrade", :required => "required" %>
        </div>
        <div class="text_info">
          <%= f.label :'Please select the location for this thermostat'%><br>
          <%= f.collection_select(:location_id, Location.where(:user_id => current_user.id), :id, :name, {:required => "required"}, :class => "textboxgrade" ) %>
        </div>
        <br>
        <div>
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      <% end %>
    </div>
  </div>
</div>