
<%= form_for(@thermostat) do |f| %>
  <% if @thermostat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thermostat.errors.count, "error") %> prohibited this thermostat from being saved:</h2>

      <ul>
      <% @thermostat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text-info">
    <%= f.label :serial %><br>
    <%= f.text_field :serial %>
  </div>
  <div class="text-info">
    <%= f.label :temperature %><br>
    <%= f.number_field :temperature %>
  </div>
  
  <br>
  <div>
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
<% end %>
