 </tbody>
 <% if user_signed_in? && current_user.id == 1 %>
   <tbody>
    <% @users.each do |user| %>
      <tr>
         <br>
        <b>Email</b>
        <br>
        <td><b><%= user.email %></b></td> <td>
        <br>
        <b>Created At</b>
        <br>
        <td><%= user.created_at %></td>
        <br>
        <b>Updated At</b>
        <br>
        <td><%= user.updated_at %></td>
        <br>

        <% @thermostats.each do |thermostat| %>
      <tr>
         <br>
         
        <td><%= thermostat.serial %></td>
        <td><%= thermostat.temperature %></td>
        <td><%= thermostat.humidity %></td>
        <td><%= link_to 'Show', thermostat %></td>
        <td><%= link_to 'Edit', edit_thermostat_path(thermostat) %></td>
       <td><a href="/thermostats/destroy/<%= thermostat.id %>">Delete</a></td>
      </tr>
    <% end %>
  </tr>
    <% end %>
      </tbody>
    <% else %>
   <h1>Permission denied!!</h1>
     <% end %>