<center><h1><b> Admin view</b></h1></center>  
<a href= "/users/create_user" class="btn btn-success"><b>Create User</b></a>
<a href="<%= report_thermostat_path %> " class="btn btn-success active"><b>Report</b></a>
<a href="/modelos" class="btn btn-success"><b>Therm Models</b></a>

<%= form_tag '/admi', :method => 'get' do %>
    <div class= "field">
      <h3 class = "tex-info"> <%= label_tag "Search"%></h3><br>
      <%= text_field_tag :search %>
    </div>
    <div class= "actions">
      <%= submit_tag "search" %>
     </div>  
<% end %>
 <h1><b>USERS</b></h1>
      <table class="table table-striped"><thead>
          <tr class="info">
          <td><b>#User</b></td>
          <th></th>
          <td><b>Email</b></td>
          <td><b>Role</b></td>
          <td><b>Created At</b></td>
          <td><b>Updated At</b></td>
          <td><b>State</b></td>
          <td><b>Options</b></td>

            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
          <% @users.each do |user| %>
          <% if user.id != 1 %>
          <tr>
              <td><%= user.id %></td><td>
              <td><%= user.email %></td> 
              <td><%= user.role %></td> 
              <td><%= user.created_at %></td>
              <td><%= user.updated_at %></td>
              <% if user.state == true %>
              <td>Unlocked</td>
              <% else %>
              <td>Locked</td>
              <% end %>
              <td><h5><a href= "/admi/user/block/<%=user.id %>"class="btn btn-danger"><b>Block</b></a></h5></td>
              <td><h5><a href= "/admi/user/unlock/<%=user.id %>"class="btn btn-default"><b>Unlock</b></a></h5></td>
              <td><h5><a href= "/admi/user/change_role/<%=user.id %>"class="btn btn-warning"><b>Change Role</b></h5></a></td>  
              <td><h5><a href= "/users/remove/<%=user.id%>" class="btn btn-info"><b>Remove</b></h5></a></td>
              <td><h5><a href= "/users/edit_user/<%=user.id%>" class="btn btn-primary"><b>Edit</b></h5></a></td>      
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    



<h1><b>THERMS</b></h1>
<br>
  
    <table class="table"><thead>
        <tr class="info">
        <td><b>#User</b></td>
        <td><b>Email</b></td>
        <td><b>Serial</b></td>
        <td><b>Temperature</b> </td>
        <td><b>Humidity</b> </td>
        <td><b>Energy</b></td>
        <td><b>Model</b></td>
        <td><b>Options</b></td>

          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @thermostats.each do |thermostat| %>
          <tr>
            <td><%= thermostat.user_id %></td>
            <% @users=User.find(thermostat.user_id) %>
            <% @modname = Modelo.find_by(id: thermostat.modelo_id.to_i)%>
            <td><%= @users.email %></td>  
            <td><%= thermostat.serial %></td>
            <td><%= thermostat.temperature %></td>
            <td><%= thermostat.humidity %></td>
            <td><%= thermostat.energy %></td>
            <td><%= @modname.name%></td>
            <td><a href="/thermostats/<%= thermostat.id %>" class="btn btn-default"><b>Show</b></a></td>
            <td><a href="<%= edit_thermostat_path(thermostat) %>" class="btn btn-primary"><b>Edit</b></a></td>
            <td><a href="/thermostats/destroy/<%= thermostat.id %>" class="btn btn-danger"><b>Delete</b></a></td>
            
            <% end %>
          </tr>
      </tbody>
    </table>


 <h1><b>LOCATIONS</b></h1>
      <br>

  <table class="table table-striped"><thead>
      <tr class="info">
        <td><b>#User</b></td>
        <td><b>Email</b></td>
        <td><b>Name</b></td>
        <td><b>Address</b></td>
      </tr>
    </thead>

    <tbody>
      <% @locations.each do |location| %>
        <tr>
          <% @user=User.find(location.user_id)%>
          <td><%= @user.id %></td>
          <td><%= @user.email %></td>  
          <td><%= location.name %></td>
          <td><%= location.address %></td>
      <% end %>

        </tr>
    </tbody>
  </table>

  <h1><b>ISSUES</b></h1>
      <br>

  <table class="table table-striped"><thead>
      <tr class="info">
        <td><b>User</b></td>
        <td><b>Themostat_id</b></td>
        <td><b>Description</b></td>
        <td><b>Status</b></td>
        <td><b>Resolution</b></td>
        <td><b>Options</b></td>
      </tr>
    </thead>

    <tbody>
      <% @issues.each do |issue| %>
        <tr>
         <%@id_user=Thermostat.find(issue.thermostat_id).user_id%>
         <% @user=User.find(@id_user)%>
         <%if issue.status != "Canceled"%>
          <td><%= @user.email %></td>
          <td><%= issue.thermostat_id %></td>
          <td><%= issue.description %></td>  
          <td><%= issue.status%></td>
          <td><%= issue.resolution %></td>
          <% if issue.status != "Resolved" %>
          <td><a href="/issues/resolve/<%= issue.id %>" class="btn btn-primary"><b>Resolve</b></a></td>
          <% else %>
          <td><a href="/issues/open/<%= issue.id %>" class="btn btn-default"><b>Open</b></a></td>
          <%end%>
      <% end %>
      <%end%>
        </tr>
    </tbody>
  </table>



