 
<h1 >Admin view</h1>

  </tbody>

 </tbody>
 

   <tbody>
    <% @users.each do |user| %>
      <tr>
         <br>
        <b>Email</b>
        <br>
        <td><b><%= user.email %></b></td> <td>
        <br>
        <td>serial</td>
        <td>temperature </td>
        <td>humidity </td>
        <td>energy</td>

        <% user.thermostats.each do |thermostat| %>
      <tr>
         <br>
         
        <td><%= thermostat.serial %></td>
        <td><%= thermostat.temperature %></td>
        <td><%= thermostat.humidity %></td>
        <td><%= thermostat.energy %></td>

        <td><%= link_to 'Show', thermostat%></td>
        <td><%= link_to 'Edit', edit_thermostat_path(thermostat) %></td>
        <td><%= link_to 'Destroy', thermostat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        

      </tr>
    <% end %>
  </tr>
    
      </tbody>