<h1>Listing thermostats</h1>
 
<table>
  <thead>
   <tr>
     <td>
         <a href="/"><button><b><big>ThermMonitor</big></b></button></a>
      </td>
   </tr>
	<tr>
      <td>
         <a href="https://www.facebook.com/ThermMonitor"><button>Facebook</button></b></a>
      </td>
      <td>
         <a href="https://www.twitter.com/ThermMonitor"><button>Twitter</button></b></a>
      </td>
      <td>
         <a href="https://www.youtube.com/channel/UCy6YVTvpqqyjvFhjmVqjQfg"><button>YouTube</button></b></a>
      </td>
	</tr>
    <tr>
      <th>Serial</th>
      <th>Temperature</th>
      <th>Humidity</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @thermostats.each do |thermostat| %>
      <tr>
         <% if current_user.nil? ==false %>
        <% if current_user.id ==thermostat.user_id %>
        <td><%= thermostat.serial %></td>
        <td><%= thermostat.temperature %></td>
        <td><%= thermostat.humidity %></td>
        <td><%= link_to 'Show', thermostat %></td>
        <td><%= link_to 'Edit', edit_thermostat_path(thermostat) %></td>
        <td><%= link_to 'Destroy', thermostat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thermostat', new_thermostat_path %>
