..
<% if current_user.state == true %>
<center><h1><b> Listing thermostats</b></h1></center>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><b> Listing thermostats</b></h3>
  </div>


  <table class="table table-striped"><thead>
      <tr class="info">
        <th>Serial</th>
        <th>Temperature</th>
        <th>Humidity</th>
        <th>Energy</th>
        
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @thermostats.each do |thermostat| %>
        <tr>
          <% if current_user.nil? == false %>
            <% if current_user.id ==thermostat.user_id %>
              <td><%= thermostat.serial %></td>
              <td><%= thermostat.history_thermostats.last.temperature %></td>
              <td><%= thermostat.history_thermostats.last.humidity%></td>
              <td><%= thermostat.history_thermostats.last.energy %></td>
              
              <td><a href="/thermostats/<%= thermostat.id %>" class="btn btn-default">Show</a></td>
              <td><a href="<%= edit_thermostat_path(thermostat) %>" class="btn btn-default">Edit</a></td>
              <td><a href="/thermostats/destroy/<%= thermostat.id %>" class="btn btn-danger">Delete</a></td>
              <td><a href="<%= home_new_schedule_path(thermostat) %> " class="btn btn-success active"> Alarm Settings </a></td>          
            <% end %>
          <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <a href="<%= new_thermostat_path %> " class="btn btn-success active"> New Thermostat</a> |
  <a href="<%= show_history_path %> " class="btn btn-primary active"> Show History Thermostat</a>
  <br>
  <br>
  <% else %>
  <h2><b>You have been blocked by the administrator!!</b></h2>
  <% end %>
</div>
<br>
<br>
