<center><h1><b> Report Admin view</b></h1></center> 
<br>  
<h1><a href= "/users/create_user" class="btn btn-success"><b>Create User</b></h1></a></td> 
<br>
<h1><b>USERS</b></h1>
<table class="table table-striped"><thead>
          <tr class="info">
 
          <td><b>#User</b></td>
          <td><b>Email</b></td>
          <td><b>Role</b></td>
          <td><b>Created At</b></td>
          <td><b>Updated At</b></td>

          </tr>
        </thead>

        <tbody>
          <tr>
          <% @users.each do |user| %>
          <% if user.id != 1 %>
          <tr>
              <td><b><%= user.id %></b></td>
              <td><b><%= user.email %></b></td> 
              <td><b><%= user.role %></b></td> 
              <td><b><%= user.created_at %></b></td>
              <td><b><%= user.updated_at %></b></td>

            </tr>
          <br> 
          <br>

          <table class="table table-striped"><thead>
          <tr class="info">
          <td><b>Serial</b></td>
          <td><b>temperature</b></td>
          <td><b>humedad</b></td>
          <td><b>energia</b></td>
          </tr>
        </thead>

        <tbody>

        <% @thermostats.each do |thermostat| %>
        <tr>
           <% if user.nil? ==false %>
          <% if user.id ==thermostat.user_id %>
          <td><%= thermostat.serial %></td>
          <td><%= thermostat.temperature %></td>
          <td><%= thermostat.humidity%></td>
          <td><%= thermostat.energy %></td>
          
          <% end %>
          <% end %>

        </tr>

      </tbody>
          <% end %>

        </tr>
      <% end %>



        </tbody>
      </table>
    
<% end %>