<% @location = Location.find_by id: @thermostat.location_id %>
<% HistoryThermostat.all.each do |f| %>
    <%if f.thermostat_id == @thermostat.id%>
        <% @lastemp = f %>
    <%end%>
  <% end %>

<div class="thumbnail">
<p id="notice"><%= notice %></p>

<table class="table table-striped"><thead>
      <tr class="info">
        <th>Location Name: </th>
        <th>Address: </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    <tr>
     <td>
       <input readonly type="text" class="textboxgrade" name="locations[name]" value="<%= @location.name %>">
     </td>
     <td>
       <input readonly type="text" class="textboxgrade" name="locations[address]" value="<%= @location.address %>">
     </td>
    </tr> 
    </tbody>
  </table>
      <p>
        <strong>Address:</strong>
        <br>
        <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=14&markers=#{@location.latitude}%2C#{@location.longitude}" %>
      </p>

 <table class="table table-striped"><thead>
      <tr class="info">
        <th>Serial: </th>
        <th>Current Temp: </th>
        <th>Humidity: </th>
        <th>Energy: </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>
         <input readonly type="text" class="textboxgrade" name="thermostats[serial]" value="N째 <%= @thermostat.serial %>">
      </td>
    <% if @lastemp == nil%>
     <td>
       <input readonly type="text" class="textboxgrade" name="thermostats[temperature]" value="<%= @thermostat.temperature %> 째" maxlength="4" size="4">
     </td>
     <td>
       <input readonly type="text" class="textboxgrade" name="thermostats[temperature]" value="<%= @thermostat.humidity %> %" maxlength="4" size="4">
     </td>
     <td>
        <input readonly type="text" class="textboxgrade" name="thermostats[temperature]" value="<%= @thermostat.energy %> kW" maxlength="4" size="4">
     </td>
     <%else%>
     <td>
       <input readonly type="text" class="textboxgrade" name="thermostats[temperature]" value="<%= @lastemp.temperature %> 째" maxlength="4" size="4">
     </td>
     <td>
       <input readonly type="text" class="textboxgrade" name="thermostats[temperature]" value="<%= @lastemp.humidity %> %" maxlength="4" size="4">
     </td>
     <td>
        <input readonly type="text" class="textboxgrade" name="thermostats[temperature]" value="<%= @lastemp.energy %> kW" maxlength="4" size="4">
     </td>
     <%end %>
    </tr> 
    </tbody>
  </table>

<tr>
  <p><strong>Temperature:</strong></p>
  <td>
    <a class="izquierda" href="/thermostats/sub/<%=@thermostat.id%>">&laquo;</a>
  </td>
  <td>
    <input readonly type="text" class="textboxgrade" name="thermostats[temperature]" value="<%= @thermostat.temperature %> 째" maxlength="4" size="4">
    
  </td>
  <td>
    <a class="derecha" href="/thermostats/add/<%=@thermostat.id%>">&raquo;</a>
  </td>
   <br>
   <br>
</tr>

<td>
      <strong>Current Weather:</strong>
      <br>
      <html>
           <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=weather"></script>
    
           <script type="text/javascript">
               function initialize() {
               var myOptions = {
               zoom: 12,
               center: new google.maps.LatLng('<%=@location.latitude%>','<%=@location.longitude%>'),
               mapTypeId: google.maps.MapTypeId.ROADMAP
               };
               var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
               var weather = new google.maps.weather.WeatherLayer({
                   temperatureUnits: google.maps.weather.TemperatureUnit.DEGREE //Temperature unit can also be changed to FAHRENHEIT by using the keyword "FAHRENHEIT"
                    });
               weather.setMap(map);
               var cloud = new google.maps.weather.CloudLayer();
               cloud.setMap(map); //Comment out this line if you do not wish to
              }
           </script>

           <body onload="initialize()">
                <div id="map_canvas" style="width: 530px; height: 230px"></div>
           </body>
        </html>
       
    </td>
<br>
<br>

<td><a href="<%= edit_thermostat_path(@thermostat) %>" class="btn btn-default">Edit</a></td> |
<td><a href="<%= locations_home_path %>" class="btn btn-danger">Back</a></td>
</div>
