<p id="notice"><%= notice %></p>

<p>
  <strong>Serial:</strong>
  <%= @thermostat.serial %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @thermostat.temperature %>
</p>

<p>
  <strong>Humidity:</strong>
  <%= @thermostat.humidity %>
</p>
<p>
  <strong>Energy:</strong>
  <%= @thermostat.energy %>
</p>

<%= link_to 'Edit', edit_thermostat_path(@thermostat), :class=>"btn btn-success" %> |
<%= link_to 'Back', thermostats_path ,:class=>"btn btn-success"%>
