<p id="notice"><%= notice %></p>

<p>
  <strong>Serial:</strong>
  <%= @thermostat.serial %>
</p>
<tr>
	<td>
       <p>
       <strong>Temperature:</strong>
       <br>
       <input readonly type="text" name="thermostats[temperature]" value="<%= @thermostat.temperature %> °" maxlength="4" size="4">
       </p>
       <a href="/thermostats/sub/<%=@thermostat.id%>"><button>-</button></a>
       <a href="/thermostats/add/<%=@thermostat.id%>"><button>+</button></a>
       
	</td>
    <td>
       <p>
       <strong>Humidity:</strong>
       <br>
       <input readonly type="text" name="thermostats[temperature]" value="<%= @thermostat.humidity %> %" maxlength="4" size="4">
       </p>
    </td>
    <td>
    	<p>
        <strong>Energy:</strong>
        <br>
        <input readonly type="text" name="thermostats[temperature]" value="<%= @thermostat.energy %> kW" maxlength="4" size="4">
        </p>
    </td>
    <td>
      <p>
        <strong>Address:</strong>
        <br>
        <input readonly type="text" name="thermostats[temperature]" value="<%= @thermostat.address %> " maxlength="4" size="4">
        </p>
    </td>
</tr>



<%= link_to 'Edit', edit_thermostat_path(@thermostat) %> |
<%= link_to 'Back', thermostats_path%> |
<%= link_to 'Show History Thermostat', show_history_path %>