<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>



<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>


<strong>Map:</strong>
        <html>
           <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=weather"></script>
    
           <script type="text/javascript">
               function initialize() {
               var myOptions = {
               zoom: 12,
               center: new google.maps.LatLng('<%=@location.latitude%>','<%=@location.longitude%>'),
               mapTypeId: google.maps.MapTypeId.ROADMAP
               };
               var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
               var weather = new google.maps.weather.WeatherLayer({
                   temperatureUnits: google.maps.weather.TemperatureUnit.DEGREE //Temperature unit can also be changed to FAHRENHEIT by using the keyword "FAHRENHEIT"
                    });
               weather.setMap(map);
               var cloud = new google.maps.weather.CloudLayer();
               cloud.setMap(map); //Comment out this line if you do not wish to
              }
           </script>

           <body onload="initialize()">
                <div id="map_canvas" style="width: 530px; height: 230px"></div>
           </body>
           
        </html>
       

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
