<!DOCTYPE html>
<html>

<head>
  <title>ThermMonitor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "jquery.ui.addresspicker" %>
  <%= javascript_include_tag "alert" %>
</head>
<body background="\images\fondo.jpeg">
  <br><br><br><br><br>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img align= "left" src="\images\Monitor.png" alt="rss feed" width="75" />
          <a class="navbar-brand" href=" <%= root_path %> ">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/about_us">About Us</a></li>
            <li><a href="/contact_us">Contact Us</a></li>
          </ul>

          <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
          </form>
          
          <ul class="nav navbar-nav navbar-right">        
            <% if user_signed_in? %>
              <p> Signed in as <%= current_user.email %>. Not you?</p> 
              <li class="">
                <%= link_to('Sign out', '/users/sign_out', :method => :delete) %>                 
              </li>
            <% else %>
              <li><a href="/users/sign_in">Sign in</a></li>
              <li><a href="/users/sign_up">Sign up</a></li> 
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <%= yield %> <!-- Aqui es donde va todo lo de Rails-->
    </div>
    <div id="alerta" class="col-xs-4 col-md-2"> <!--Alertas de las configuraciones -->
      <% if user_signed_in? && current_user.role != "admin" %>
        <div class="alert alert-danger">
          <h1>ALERTS</h1>

          <p><%= current_user.email %></p>
          <% @thermostats = Thermostat.all %>
          <% @schedules = Schedule.all %>
          <p>
            <% @thermostats.each do |thermostat| %>
              <% if thermostat.user_id == current_user.id %>
                <% @schedules.each do |schedule| %>
                  <% if schedule.thermostat_id == thermostat.user_id  %>
                    
                    <% if thermostat.temperature > schedule.max || thermostat.temperature < schedule.min  %>
                      <h4>Serial :::<%= thermostat.serial %></h4><br>
                      Temperature::<%= thermostat.temperature %><br>
                      Temperature max ::<%= schedule.max %><br>
                      Temperature min ::<%= schedule.min %><br>
                      <hr>              
                      <%break%>
                    <%end%>
                  <%end%>
                <%end%>
              <%end%>
            <%end%>
          </p>
        </div>
      <% else %>
        
      <% end %>
    </div><!-- /#Alertas de las configuraciones -->    
  </div>
  <!--<hr width=100% align="center">-->
</div><!-- container -->
<br><br><br><br><br><br><br><br><br>
  <div class="panel-footer navbar-inverse">
    <footer>
      <table >
       <tr>
         <td>
              <h4>Following:</h4>
          </td>
       </tr>
      <tr>
          <td>
             <a href="https://www.facebook.com/ThermMonitor">
               <img  src="\images\f.ico" width="30" />&nbsp;
             </a>|
          </td>
          <td>
             <a href="https://www.twitter.com/ThermMonitor">
              <img  src="\images\t.png" width="30" />&nbsp;
            </a>|
          </td>
          <td>
             <a href="https://www.youtube.com/channel/UCy6YVTvpqqyjvFhjmVqjQfg"> 
              <img  src="\images\y.png" width="30" /> 
             </a>
          </td>
        </tr>
      </table>
      <br>
      <b>®2014 Walsoft Labs . All rights reserved.</b>
      <br>
      <b>The website and its content was created for Walsoft® Labs.</b>
    </footer>
  </div>
</body>
</html>