<!DOCTYPE html>
<html>
<img align= "right" src="\images\therm.jpg" alt="rss feed"  />
<head>
  <title>ThermMonitor</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to('Sign out', '/users/sign_out', :method => :delete) %>
  <% else %>
    <tr>
      <td>
          <a href="/users/sign_in" >Sign in</a>
      </td>
      <td>
         <a href="/users/sign_up" >Sign up</a>
      </td> 
    </tr>
  <% end %>
</div>
<%= yield %>

</body>
</html>