<!DOCTYPE html>
<html>

<head>
  <title>ThermMonitor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap" %>
  <%= stylesheet_link_tag    "bootstrap.min" %>
  <%= stylesheet_link_tag    "bootstrap-theme" %>
  <%= stylesheet_link_tag    "bootstrap-theme.min" %>

  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "bootstrap" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "jquery.ui.addresspicker" %>
  <%= javascript_include_tag "jquery.ui.core" %>
  <%= javascript_include_tag "alert" %>
  <%= javascript_include_tag "jquery" %>
  <%= csrf_meta_tags %>

</head>
<body background="\images\img1.jpg">
  <br><br><br><br><br>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img align= "left" src="\images\Monitor.png" alt="rss feed" width="75" />
          <a class="navbar-brand" href=" <%= root_path %> ">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/about_us">About Us</a></li>
            <li><a href="/contact_us">Contact Us</a></li>
            <li id="hour"><h3><font color="#DBDBDB">aqui ira la hora</font></h3></li>
          </ul>

          <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
          </form>
          
          <ul class="nav navbar-nav navbar-right">        
            <% if user_signed_in? %>
            <li> <a href="<%= authentications_path %>"><strong>Authentications</strong></a> |</li>
              <li class="">
                <a href="/users/sign_out" title="" method="delete"><%= current_user.email %><img src="\images\user.png" alt="12%" width="30" height="30"></a>       
              </li>
              
            <% else %>
              <li><a href="<%= new_user_registration_path %>">Sign Up</a></li>
              <li><a href="<%= new_user_session_path %>">Login</a></li> 
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
<!--========================== :::::ALERTAS::::: ============================================== -->

  <div class="row">  
    <div id="alerta" class="col-sm-2 col-md-2"> <!--Alertas de las configuraciones -->
      <% if user_signed_in? && current_user.role != "admin" %>
        
          <% @schedule = Array.new %>
          <% @history_thermostats = Array.new %>
          <% @thermostats = Thermostat.where( :user_id => current_user.id) %> <!--Los termostatos del usuario-->

          <% @thermostats.each do |thermostat|%>
            <% @schedule= Schedule.where(:thermostat_id => thermostat.id, :day_week =>"Thursday").last %><!--Schedules del termostato-->           
            <% @history_thermostats= HistoryThermostat.where(:thermostat_id => thermostat.id).last %><!--Ultimo Historial del termostato-->
            <% if Schedule.where(:thermostat_id => thermostat.id, :day_week =>"Thursday").length() > 0 && HistoryThermostat.where(:thermostat_id => thermostat.id).length() > 0 %>

              <% if @schedule.temperature.to_i > @history_thermostats.temperature.to_i %>
                <% @valor = @schedule.temperature.to_i - @history_thermostats.temperature.to_i %>
              <%else%>
                <% @valor = @history_thermostats.temperature.to_i - @schedule.temperature.to_i %>
              <%end%>      
            <%end%> 

               <!--auidsadasdad-->

            
            
            <% if HistoryThermostat.where(:thermostat_id => thermostat.id).length > 0%>
            

              <% @alarm = Alarm.last %>
              <% if @valor != nil%>
              <% if @valor > @alarm.time%>
                <p align="center"><img src="\images\alert_red.gif" alt="dsdad" width="50" height="50"></p>
                <div class="alert alert-danger">
                  <H4>THERM serial :: <%= thermostat.serial %></H4>
                  <hr class="message-inner-separator">
                  <strong>step was::</strong> <%= @valor %>
                  <p>temperature= <%= @history_thermostats.temperature %></p>
                  <p>humidity= <%= @history_thermostats.humidity %></p>
                  <p>energy= <%= @history_thermostats.energy %></p>
                  <p>id thermostat= <%= @history_thermostats.thermostat_id %></p>
                  <audio autoplay='autoplay'>
                    <source src="\images\alert2.mp3" type="audio/mp3">
                  </audio>
                </div>
              <%else%>
              <%end%>
            <%end%>
            <%else%>
              
            <%end%>

          <%end%>    
      <% else %>
        
      <% end %>
    </div><!-- /#Alertas de las configuraciones -->    


<!--========================== :::::ALERTAS::::: ============================================== -->

<div class="container">

  <div class="row">
    <div class="col-xs-12 col-md-8">
      <%= yield %> <!-- Aqui es donde va todo lo de Rails-->
    </div>
  </div>



  </div>
  <!--<hr width=100% align="center">-->
</div><!-- container -->
<br><br><br><br><br><br><br><br><br><br>
  <div class="panel-footer navbar-inverse">
    <footer>
      <table >
       <tr>
         <td>
              <h4>Following:</h4>
          </td>
       </tr>
      <tr>
          <td>
             <a href="https://www.facebook.com/ThermMonitor">
               <img  src="\images\facebook_32.png" width="30" />&nbsp;
             </a>|
             <a href="https://www.twitter.com/ThermMonitor">
              <img  src="\images\t.png" width="30" />&nbsp;
            </a>|
          </td>
          <td>
             <a href="https://www.youtube.com/channel/UCy6YVTvpqqyjvFhjmVqjQfg"> 
              <img  src="\images\y.png" width="30" /> 
             </a>
          </td>
        </tr>
      </table>
      <br>
      <b>®2014 Walsoft Labs . All rights reserved.</b>
      <br>
      <b>The website and its content was created for Walsoft® Labs.</b>

    </footer>
  </div>

<script type="text/javascript">

$(document).ready(function(){

  function get_hour () {
     var fecha = new Date();
     var hora = fecha.getHours();
     return hora;
  }
  function get_minute () {
     var fecha = new Date();
     var minuto = fecha.getMinutes();
     return minuto;
  }
  function get_day () {
     var fecha = new Date();
     var dia = fecha.getDay();
     var dias= new Array(7);
      dias[0]='Monday';
      dias[1]='Tuesday';
      dias[2]='Wednesday';
      dias[3]='Thursday';
      dias[4]='Friday';
      dias[5]='Saturday';
      dias[6]='Sunday';
     return dias[dia-1];
  }

  function put_hour () {   
    $('#hour').html("<h3><font color='#DBDBDB'>"+get_day()+" "+get_hour()+":"+get_minute()+"</font></h3>");    
    $('#hour2').html("<h3><font color='#268A24'>"+get_day()+" "+get_hour()+":"+get_minute()+"</font></h3> <h1>:D</h1>");    
  }

  put_hour();
  
 
});

</script>
</body>
</html>